* { 	padding: 0px;
		margin: 0px;
		padding: 0px;
}
body, html, main {
	height: 100%;
}
.top_banner
{
	background: blue;
	height: 2.5vw;
	width: 100%;
}
.navbar_main {
	margin: 2.5vh 0;
}
.navbar_main ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
.navbar_main li{
	display: inline;
	margin: 0 3vh;
	color: red;
	list-style-type:none;
	text-decoration: none;
	font-size: 3vh;
	font-family: 'Didact Gothic', sans-serif;;
}
.navbar_main a:link {
	text-decoration: none;
	color: grey;
}
.navbar_main a:visited {
	text-decoration: none;
	color: grey;
}
.navbar_main a:active{ 
	text-decoration: none;
	color:black;
}
.navbar_main a:hover{ 
	text-decoration: none;
	padding-bottom: .25vh;
	border-bottom: .4vh solid blue;
	border-bottom-color: blue;
}
.navbar_main a:focus { 
	text-decoration: none; 
	color:black;
}

.main_content {
	font-family: 'Didact Gothic', sans-serif;;
	position: absolute;
	top: 38%;
 	left: 50%;
	font-size: 10vh;
	transform: translate(-50%, -50%);

}

.secondary_Content {
	font-weight: normal;
	font-family: 'Didact Gothic', sans-serif;;
	position: absolute;
	top: 48.5%;
 	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10vh;
}
.name {
	color:blue;
}
.page_one_buttons {
	margin: 0;
	padding: 0;
	position: absolute;
	top:60%;
	left: 51%;
	transform: translate(-50%,-50%);
}
.page_one_buttons ul{
	display: flex;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 0;
}

.page_one_buttons li{
	display: inline;
	font-family: 'Didact Gothic', sans-serif;
	margin: 0 3vw 0 0;
	font-size: 4.5vh;
}
.page_one_buttons a {
	transition: all .2s linear; 
	padding: 0 1vh;
	border: .4vh solid black;
	border-radius: .5vh;
}
.page_one_buttons a:link {
	text-decoration: none;
	color: black;
}
.page_one_buttons a:visited {
	text-decoration: none;
	color: black;
}
.page_one_buttons a:active{ 
	text-decoration: none;
	color: grey;
}
.page_one_buttons a:hover{ 
	text-decoration: none;
	border-color: blue;
	padding: .2vh 1.5vh;
	border-radius: .5vh;
	font-size: 4.8vh;
}
.page_one_buttons a:focus { 
	text-decoration: none; 
	color: grey;
}

.broken_page {
	text-decoration: underline;
	text-align: center;
	font-size: 3vh;
	position: absolute;
	top:9%;
	left:50%;
	transform:translate(-50%,-50%);
}
.vid_table {
	position: absolute;
	top: 13%;
	left: 50%;
	transform: translate(-50%,0%);
}