* { 	padding: 0px;
		margin: 0px;
}
body, html, main {
	height: 100%;
}

/* Highlight Colors */
::selection {
  background: #ff0066; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff0066; /* Gecko Browsers */
}

.top_banner
{
	position: absolute;
	top:0;
	background: #004cc6;
	height: 3vh;
	width: 100%;
}

#menu  {
	position: absolute;
	top: 5vh;
	right: 0;
	z-index: 70;
	list-style-type: none;
}

.navbar_main li{
	display: inline;
	margin: 0 3vh;
	color: red;
	text-decoration: none;
	font-size: 1.7em;
	font-family: 'Didact Gothic', sans-serif;;
}
.navbar_main a {
	transition: all .1s linear; 
}

.navbar_main li.active a{
	text-decoration: none;
	color:black;
	padding-bottom: .25vh;
	border-bottom: 3px solid #004cc6;
	border-bottom-color: #004cc6;
}

.navbar_main a:link {
	text-decoration: none;
	color: grey;
}
.navbar_main a:visited {
	text-decoration: none;
	color: grey;
}

.navbar_main a:hover{ 
	text-decoration: none;
	color: black;
	padding-bottom: .25vh;
	border-bottom: 3px solid #004cc6;
	border-bottom-color: #004cc6;
}







.main_content {
	position: absolute;
	top: 38%;
 	left: 16.7%;
	font-family: 'Didact Gothic', sans-serif;;
	font-size: 5vw;
	transform: translate(-50%, -50%);
}

.secondary_Content {
	font-weight: normal;
	font-family: 'Didact Gothic', sans-serif;;
	position: absolute;
	top: 48.5%;
 	left: 16.7%;
	transform: translate(-50%, -50%);
	font-size: 5vw;
}
.name {
	color:#004cc6;
}
.page_one_buttons {
	margin: 0;
	padding: 0;
	position: absolute;
	top:60%;
 	left: 17%;
	transform: translate(-50%,-50%);
}
.page_one_buttons ul{
	display: flex;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 0;
}

.page_one_buttons li{
	display: inline;
	font-family: 'Didact Gothic', sans-serif;
	margin: 0 3vw 0 0;
	font-size: 5vh;
}

.page_one_buttons a {
	transition: all .2s linear; 
	padding: 0 1vh;
	border: .3vh solid black;
	border-radius: .5vh;
	padding: 0 1vw;
}
.page_one_buttons a:link {
	text-decoration: none;
	color: black;
}
.page_one_buttons a:visited {
	text-decoration: none;
	color: black;
}
.page_one_buttons a:active{ 
	text-decoration: none;
	color: grey;
}
.page_one_buttons a:hover{ 
	text-decoration: none;
	border-color: #004cc6;
	padding: .2vh 1.2vw;
	border-radius: .5vh;
	font-size: 5.3vh;
}
.page_one_buttons a:focus { 
	text-decoration: none; 
	color: grey;
}

.broken_page {
	text-decoration: underline;
	text-align: center;
	font-size: 3vh;
	position: absolute;
	top:9%;
	left:50%;
	transform:translate(-50%,-50%);
}
.vid_table {
	position: absolute;
	top: 13%;
	left: 50%;
	transform: translate(-50%,0%);
}





/*     Icons  */

#github_icon a{
	background-image: url(../media/img/github.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: 29%;
	bottom: 3vh;
	height: 8vh;
	width: 8vh;
	transition: all .2s linear; 

}
#github_icon:hover a{
	opacity: 0.75;
}

#linkedin_icon a{
	background-image: url(../media/img/linkedin_square.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: 31%;
	bottom: 3vh;
	height: 8vh;
	width: 8vh;
	transition: all .3s linear; 

}
#linkedin_icon:hover a{
	opacity: 0.85;
}
/*     Icons  */





/* FORM CSS */


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
}



#form {
	position: absolute;
	width:500px;
	top: 5%;
	right: 19.5%	
}

input {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  
  border: solid 1px black;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #eaecef;
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 250px;
  max-height: 250px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px black;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #eaecef;
  color: black;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.4em;
  color: black;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px black;
}

#submit:hover {
  color: #004cc6;
}


header {
	font-family: 'Didact Gothic', sans-serif;
	position: relative;e;
	margin: 100px 0 25px 0;
	font-size: 2.3em;
	text-align: center;
}

/*----------*/

#extra_contact p
{
	font-family: 'Didact Gothic', sans-serif;
	position: absolute;
	top: 50%;
	right: 14%;
	font-size: 2.3em;
	transform: translate(-50%,-50%);

}
#extra_contact header{
  	font-family: 'Didact Gothic', sans-serif;
	position: absolute;
	top: 12%;
	right: 4.9%;
	font-size: 2.3em;
	text-decoration: underline;

}

#extra_contact ul{
	text-align: center;
	position: absolute;
	right: 2.5%;
	top: 35%;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Didact Gothic', sans-serif;
}

#extra_contact li{
	font-family: 'Didact Gothic', sans-serif;
	margin: 0 3vw 0 0;
	font-size: 2em;
	line-height: 11.5vh; 
}
#extra_contact a {
	transition: all .3s linear; 
}

#extra_contact a:link {
	text-decoration: none;
	color: black;
}
#extra_contact a:visited {
	text-decoration: none;
	color: black;
}
#extra_contact a:active{ 
	text-decoration: none;
	color: black;
}
#extra_contact a:hover{ 
	text-decoration: none;
	color: #ff0066;
}
#extra_contact a:focus { 
	text-decoration: none; 
	color: grey;
}

#copyright_footer footer {
	font-family: 'Didact Gothic', sans-serif;
	position: absolute;
	bottom: 15px;
	right: 15px;
}


/* About Page  */
#about header {
	color: #004cc6;
	position: absolute;
	top: 0%;
	left: 38%;
	transform: translate(-7.5%, 0%);
	font-size: 4.75vw;
}

#mypic {
	background-image: url(../media/img/julian_pic.svg);
	background-repeat: no-repeat;
	height: 70vh;
	width: 70vh;
	float: right;

	margin-top: 150px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
}

#about p {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 35px;
	margin-top: 200px;
	margin-left: 100px;
}
.link_image {
	position: relative;
	top: 4px;
}
.link_image1 {
	position: relative;	
	top: 3px;
}
